@import "tailwindcss";

.menuIconWrapper {
  padding: 8px;
  box-sizing: content-box;
  border-radius: 5px;
  font-size: var(--text-lg);
}

.menuIconWrapper:hover {
  /* background: linear-gradient(
    90deg,
    oklch(92.952% 0.02186 309.383) 0%,
    oklch(91.501% 0.03216 341.637) 100%
  ); */
  /* background-color: rgb(0 70 255 / 20%); */
}

@media (prefers-color-scheme: light) {
  .menuIcon {
    color: rgba(0, 0, 0, 0.6);
  }
  .menuIconWrapper:hover {
    /* background-color: rgba(0, 0, 0, 0.2);
     */
      background: linear-gradient(
      90deg,
      oklch(92.952% 0.02186 309.383) 0%,
      oklch(91.501% 0.03216 341.637) 100%
    );
  }

  .activeMenuItem {
    background: linear-gradient(
      90deg,
      oklch(92.952% 0.02186 309.383) 0%,
      oklch(91.501% 0.03216 341.637) 100%
    );
  }
}

@media (prefers-color-scheme: dark) {
  .menuIcon {
    /* color: rgba(255, 255, 255, 0.6); */
  }
  .menuIconWrapper:hover {
    /* background-color: rgba(255, 255, 255, 0.2);
     */
    background-color: rgb(0 70 255 / 20%);
  }

  .activeMenuItem {
    background-color: rgb(0 70 255 / 20%);
  }
}
