.loaderOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  backdrop-filter: blur(3px);
}

.loader {
  width: 60px;
  height: 60px;
  border: 6px solid #ddd;
  border-top-color: #4f46e5;
  border-radius: 50%;
  animation: spin 0.7s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
